<h1>Public repositories</h1>


<div *ngIf="(gists$| async) as gists">


    <mat-list>

        <a mat-list-item *ngFor="let gist of gists; trackBy: trackByFn" target="_blank">
            <mat-icon mat-list-icon>folder_special</mat-icon>
            <h4 mat-line>{{gist.description}}</h4>
        </a>

    </mat-list>

    <mat-paginator [length]="gists.length"
                   [pageSizeOptions]="[1, 2, 3, 4]"
                   (page)="pageEventGists($event)">
    </mat-paginator>

</div>

<!--<mat-tab-group color="warn"-->
<!--               backgroundColor="primary">-->
<!--    <mat-tab>-->
<!--        <ng-template matTabLabel>-->
<!--            <span matBadge="{{profile.public_gists}}" matBadgeOverlap="false" matBadgeColor="warn">Gists</span>-->
<!--        </ng-template>-->
<!--        <mat-list>-->
<!--            <a mat-list-item *ngFor="let gist of gists$| async; trackBy: trackByFn"-->
<!--               [href]=gist.html_url target="_blank">-->
<!--                <mat-icon mat-list-icon>folder_special</mat-icon>-->
<!--                <h4 mat-line>{{gist.description}}</h4>-->
<!--            </a>-->

<!--        </mat-list>-->
<!--        <mat-paginator [length]="profile.public_gists"-->
<!--                       [pageIndex]="pageIndexGists"-->
<!--                       [pageSizeOptions]="[1, 2, 3, 4]"-->
<!--                       (page)="pageEventGists($event)"></mat-paginator>-->
<!--    </mat-tab>-->
<!--</mat-tab-group>-->
<p>gists-list works!</p>
