<div class="m-20">

    <div fxLayout="column" fxLayoutGap="15px">

        <div *ngIf="(repo$ | async) as repo">
            <h3>{{repo.owner?.login}} / {{repo.name}}</h3>

            <b>Description</b>
            <div>{{repo.description ? (repo.description | ellipsis: 50) : '---'}}</div>
        </div>

        <a class="back pointer" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center"
           (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>go home</span>
        </a>

    </div>
</div>
