<button mat-icon-button color="primary"
        (click)="goBack()">
    <mat-icon>navigate_before</mat-icon>
    <span>back</span>
</button>

<div class="ml-15">

    <div fxLayout="column" fxLayoutGap="15px">
        <div *ngIf="(gist$ | async) as gist">
            <h3>{{gist.owner?.login}} / {{gist.description ? (gist.description | ellipsis: 50) : '---'}}</h3>

            <div fxLayout="column" fxLayoutGap="10px">

                <mat-accordion *ngFor="let file of gist.files | keyvalue;trackBy: trackByFn">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>

                            <mat-panel-title fxLayout="row" fxLayoutGap="10px">
                                <span>{{file.value?.filename}}</span>
                                <span *ngIf="file.value && file.value.language">({{file.value.language}})</span>
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <pre>
                          <code>{{file.value?.content}}</code>
                        </pre>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>


</div>
