<div fxLayout="row">
    <mat-form-field fxFlex="37%" fxFlexOffset="20px">

        <mat-chip-list #chipList aria-label="User selection">
            <mat-chip *ngFor="let repo of reposChips"
                      (removed)="removeRepo(repo)">
                {{repo.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input placeholder="Repository ..."
                   #repoNameInput
                   [formControl]="repoNameCtrl"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList">
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let repo of reposList$ | async" [value]="repo">
                {{repo.name}}
            </mat-option>
        </mat-autocomplete>

        <mat-icon matSuffix>search</mat-icon>

    </mat-form-field>
</div>
