.error-snackbar {
  background-color: #ef5350 !important;
}

.warning-snackbar {
  background-color: #ff7043 !important;
}

.success-snackbar {
  background-color: #66bb6a !important;;
}

.info-snackbar {
  background-color: #78909c !important;;
}

