<mat-toolbar color="primary">

    <div>
        <a class="logo" matLine routerLink="/search">Git Service</a>
    </div>

    <span class="spacer"></span>

    <div *ngIf="user">
        <div class="login-info">

            <button mat-button [matMenuTriggerFor]="loginMenu">
                <img src="{{user.avatar_url}}" alt="">{{user.login}}
            </button>

            <mat-menu #loginMenu="matMenu">
                <button [routerLink]="['/', 'profile']"
                        mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>

                <button mat-menu-item
                        (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </div>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>
