mat-toolbar {
  font-size: 14px;
  line-height: 1.5;

  .bar-item {
    color: #fff;
    text-decoration: none;
  }

  .bar-item:hover,
  .bar-item.active {
    color: #9e9e9e;
  }

  .ava {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
