<ng-container *ngIf="repos">

    <mat-list>

        <a class="list-item" *ngFor="let repo of repos" [href]="repo.htmlUrl"
           target="_blank" mat-list-item>
            <mat-icon mat-list-icon>folder_special</mat-icon>
            <h4 mat-line>{{repo.name}}</h4>
        </a>

    </mat-list>

    <mat-paginator [length]="user.publicRepos || reposCount"
                   [pageIndex]="pageParams.page"
                   [pageSize]="pageParams.perPage"
                   [pageSizeOptions]="pageSizeOption"
                   (page)="pageEvent($event)">
    </mat-paginator>

</ng-container>
