<ng-container *ngIf="gists">

    <mat-list>

        <a class="list-item" *ngFor="let gist of gists" [href]="gist.htmlUrl"
           target="_blank" mat-list-item>
            <mat-icon mat-list-icon>folder_special</mat-icon>
            <h4 mat-line>{{gist.description || '---'}}</h4>
        </a>

    </mat-list>

    <mat-paginator [length]="user.publicGists || gistsCount"
                   [pageIndex]="pageParams.page"
                   [pageSize]="pageParams.perPage"
                   [pageSizeOptions]="pageSizeOption"
                   (page)="pageEvent($event)">
    </mat-paginator>

</ng-container>
