<div class="m-20">

    <div *ngIf="user$ | async as user">

        <div fxLayout="column" fxLayoutGap="50px">
            <!-- bio -->
            <div fxFlex="100" fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="20">
                    <img class="ava" src="{{user.avatarUrl}}" alt="User">
                </div>

                <div fxFlex="50">
                    <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between start">

                        <div fxLayout="column">
                            <mat-card-title>{{user.login}}</mat-card-title>
                            <mat-card-subtitle>{{user.htmlUrl}}</mat-card-subtitle>
                        </div>

                        <div fxLayout="column" fxLayoutGap="5px">

                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>perm_identity</mat-icon>
                                {{user.id}}
                            </div>

                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>date_range</mat-icon>
                                {{user.createdAt | date: 'dd/MM/yyyy'}}
                            </div>

                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>location_on</mat-icon>
                                {{user.location}}
                            </div>

                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>link</mat-icon>
                                {{user.location}}
                            </div>

                            <div *ngIf="user.email" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                <mat-icon>mail_outline</mat-icon>
                                {{user.email}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--  docs          -->
            <div>
                <mat-tab-group>

                    <!-- OVERVIEW -->
                    <mat-tab label="OVERVIEW">
                        <app-user-overview [user]="user"></app-user-overview>
                    </mat-tab>

                    <!-- GISTS -->
                    <mat-tab label="GISTS">

                        <ng-template matTabLabel>
                            <span matBadge="{{user.publicGists}}"
                                  matBadgeOverlap="false"
                                  matBadgeColor="warn">
                                GISTS
                            </span>
                        </ng-template>

                        <app-user-gists [user]="user"></app-user-gists>
                    </mat-tab>

                    <!-- REPOS -->
                    <mat-tab label="REPOS">

                        <ng-template matTabLabel>
                            <span matBadge="{{user.publicRepos}}"
                                  matBadgeOverlap="false"
                                  matBadgeColor="warn">
                                REPOS
                            </span>
                        </ng-template>

                        <app-user-repos [user]="user"></app-user-repos>
                    </mat-tab>

                    <!-- PROJECTS -->
                    <mat-tab label="PROJECTS">
                        <app-user-projects [user]="user"></app-user-projects>
                    </mat-tab>

                </mat-tab-group>
            </div>

        </div>

    </div>

</div>
